.member-page {
    position: relative;
    height: 100%;
    text-align: left;
    overflow-y: auto;
    margin-left:20px;
}

.member-page .member-box {
    width: 350px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px grey;
    position: relative;
    display: inline-block;
    margin: 5px;
    background: white;
    text-align: center;
    padding: 15px;
}

.member-page .member-box .top{
    height:60%;
    background: linear-gradient(45deg, #673ab7ba, #2196f3);
    color: white;
    font-size: 24px;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}

.member-page .member-box .top #avatar-curcle {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 3px gray;
    background: linear-gradient(45deg, rgb(215 201 79), rgb(209 47 47));
    color: white;
    display: grid;
    align-items: center;
    border-radius: 50%;
    border: 5px solid white;
    transition: .5s;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.member-page .member-box .top #avatar-curcle:hover {
    background: linear-gradient(45deg, rgb(222 213 132), rgb(222 93 93));
}

.member-page .member-box .top #edit-button{
    width: 30px;
    height: 30px;
    background: white;
    position: absolute;
    box-shadow: 0px 0px 3px gray;
    display: inline-grid;
    text-align: -webkit-center;
    align-items: center;
    border-radius: 50%;
    bottom: -10px;
    left: 55%;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.member-page .member-box .bot{
    color: black;
    font-size: 15px;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
}

.member-page .member-box .bot .title-text {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    width: fit-content;
    margin-bottom: 5px;
}

.member-page .member-box .bot .describe-text {
    font-size: 13px;
    color: rgb(82, 80, 80);
}

.member-page .additional-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px rgb(187, 187, 187);
    background: linear-gradient(45deg, rgb(206, 239, 245), rgb(103, 187, 226));
    color: white;

    position: fixed;
    bottom: 20px;
    right: 20px;

    font-size: 30px;
    font-weight: bold;
    
    display: grid;
    text-align: center;
    align-items: center;
    transition:.4s;

    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}
