html {
    overflow: hidden;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

* {
    font-family: "calibri";
}

:root{ 
    --header-height: 50px;
}

[no-select] {
    user-select : none;
    --moz-user-select: none;
    --webkit-user-select: none;
}

/* custom */
.header {
	box-shadow: 0px 0px 3px grey;
    background: #1f3d53;
    color: white;
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: fixed;
    z-index: 1;
}
.header .header-title .text{
	font-weight: bold;
}

.home-page {
	position: relative;
	/* height: 80%; */
}

.login-element {
	width: 400px;
    height: 50%;
    padding: 10px;
    box-shadow: 0px 0px 2px grey;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.login-element .box {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: inline;
}

.login-element .box .login-title {
	font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px 30px 0px;
}

.form-group {
	padding: 5px;
    width: fit-content;
    display: inline-flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

.form-group input {
	padding: 5px;
	border-radius: 5px;
	border: 0px;
	outline: none;
	box-shadow: 0px 0px 2px gray;
}

.footer {

}

.login-btn {
	border: 0px;
    padding: 10px;
    outline: none;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    background: linear-gradient(45deg, #8bc34abf, #4caf50c7);
    color: white;
    border-radius: 10px;
    width: 120px;
	cursor: pointer
}

#root {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
}